ul {
	float: left;
}

#sortable1, #sortable2, #sortable3, #sortable4 {
	overflow: visible;
}

li {
	cursor: pointer;
	width: 100%;
}

.button {
}

.ui-state-disabled {
	cursor: default;
	color: black;
	font-weight: bold;
}
