ul {
	float: left;
	min-height: : 100%;
}

#sortable1, #sortable2, #sortable3, #sortable4 {
	overflow: visible;
}

li {
	cursor: pointer;
	word-wrap: break-word;
}

.button {
}

.ui-state-disabled {
	cursor: default;
	font-weight: bold;
}
